@using OrderTrak.Client.Services
<div class="card">
    <header class="card-header has-background-link" @onclick="Collase_Toggle">
        <span class="card-header-title has-text-white">
            @if (Icon != null)
            {
                <span class="icon has-text-white">
                    <i class="fas @Icon"></i>
                </span>
            }
             <span>@Title</span>
        </span>
        <span class="card-header-icon has-text-white">
            @if (IsCardLoading)
            {
                <span>Loading...</span>
            }
            else
            {
                <span>@RightTitle</span>
            }
            <span class="icon has-text-white">
                <i class="fas @(IsCollapsed ? "fa-chevron-up" : "fa-chevron-down")"></i>
            </span>
        </span>
    </header>
    @if (!IsCollapsed)
    {
        @if (IsCardLoading)
        {
            <OrderTrakLoading />
        }
        else
        {
            @if (CardBody != null)
            {
                <div class="card-content">
                    <div class="content">
                        @CardBody
                    </div>
                </div>
            }
            @if (Footer != null)
            {
                <footer class="card-footer">
                    @Footer
                </footer>
            }
        }
    }
</div>


