<div class="card">
    <header class="card-header has-background-link" @onclick="Collase_Toggle">
        <p class="card-header-title has-text-white">
            @Title
        </p>
        @if (Icon != null)
        {
            <span class="card-header-icon has-text-white">
                <i class="fas @Icon"></i>
            </span>
            <span class="card-header-icon has-text-white">
                <i class="fas @(IsCollapsed ? "fa-chevron-up" : "fa-chevron-down")"></i>
            </span>
        }
    </header>
    @if (CardBody != null && !IsCollapsed)
    {
        <div class="card-content">
            <div class="content">
                @CardBody
            </div>
        </div>
    }

    @if (Footer != null)
    {
        <footer class="card-footer">
            @Footer
        </footer>
    }
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? CardBody { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public bool IsCollapsed { get; set; }

    public void Collase_Toggle()
    {
        IsCollapsed = !IsCollapsed;

        StateHasChanged();
    }

}
