<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-link">
            <p class="modal-card-title has-text-white">@Title</p>
            <button class="delete has-text-white" aria-label="close" @onclick="OnClose_Handler"></button>
        </header>
        <section class="modal-card-body">
            @Content
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                @FooterButtons
            </div>
        </footer>
    </div>
</div>

