@if (DropDownFilters.Count > 0)
{
    <div class="select is-fullwidth">
        <select @onchange="OnSelectedValueChanged">
            <option value="">-- Stock Group --</option>
            @foreach (var line in DropDownFilters)
            {
                if (line.FormID == SelectedValue)
                {
                    <option value="@line.FormID" selected>@line.Label</option>
                }
                else
                {
                    <option value="@line.FormID">@line.Label</option>
                }
            }
        </select>
    </div>
}
else
{
    <p class="subtitle">No Stock Group found.</p>
}