@page "/project/{FormID:guid}"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@inherits OrderTrakBasePage

<PageTitle>Project - OrderTrak</PageTitle>

@if (Project != null)
{
    @if (DeleteProject)
    {
        <ModalPopup Title="Confirm Delete" OnClose="Delete_Toggle" Messages=Layout.Messages>
            <Content>
                <p class="subtitle">Are you sure you want to delete this project?</p>
            </Content>
            <FooterButtons>
                <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="Delete_Toggle" />
                <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
            </FooterButtons>
        </ModalPopup>
    }

    <div class="box">
        <div class="columns is-centered">
            <div class="column">
                <div class="buttons is-pulled-right">
                    <FormButton Title="Delete" Style="is-danger" Icon="fa-trash" OnClick="Delete_Toggle" />
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-one-third">
                <CardComponent Title="Information" Icon="fa-info-circle">
                    <CardBody>
                        <FormField Icon="fa-id-card" Title="Customer Code">
                            <Content>
                                <InputText class="input"  Placeholder="Customer Code" @bind-Value="Project.CustomerCode" disabled />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-id-card" Title="Customer Name">
                            <Content>
                                <InputText class="input"  Placeholder="Customer Name" @bind-Value="Project.CustomerName" disabled />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-project-diagram" Title="Project Code">
                            <Content>
                                <InputText class="input is-danger"  Placeholder="Project Code" @bind-Value="Project.ProjectCode" />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-project-diagram" Title="Project Name">
                            <Content>
                                <InputText class="input is-danger"  Placeholder="Project Name" @bind-Value="Project.ProjectName" />
                            </Content>
                        </FormField>
                    </CardBody>
                </CardComponent>
                <CardComponent Title="Contact" Icon="fa-address-book">
                    <CardBody>
                        <FormField Icon="fa-user" Title="Contact Name">
                            <Content>
                                <InputText class="input is-danger"  Placeholder="Contact Name" @bind-Value="Project.ContactName" />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-phone" Title="Contact Phone">
                            <Content>
                                <InputText class="input is-danger"  Placeholder="Contact Phone" @bind-Value="Project.ContactPhone" />
                            </Content>
                        </FormField>
                        <FormField Icon="fa-envelope" Title="Contact Email">
                            <Content>
                                <InputText class="input is-primary"  Placeholder="Contact Email" @bind-Value="Project.ContactEmail" />
                            </Content>
                        </FormField>
                    </CardBody>
                </CardComponent>
            </div>
            <div class="column">
                <CardComponent Title="UDF Labels(s)" Icon="fa-cogs">
                    <CardBody>
                        <div class="columns is-centered">
                            <div class="column">
                                <FormField Icon="fa-font" Title="UDF 1">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF1" @bind-Value="Project.UdF1" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 3">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF3" @bind-Value="Project.UdF3" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 5">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF5" @bind-Value="Project.UdF5" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 7">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF7" @bind-Value="Project.UdF7" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 9">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF9" @bind-Value="Project.UdF9" />
                                    </Content>
                                </FormField>
                            </div>
                            <div class="column">
                                <FormField Icon="fa-font" Title="UDF 2">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF2" @bind-Value="Project.UdF2" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 4">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF4" @bind-Value="Project.UdF4" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 6">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF6" @bind-Value="Project.UdF6" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 8">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF8" @bind-Value="Project.UdF8" />
                                    </Content>
                                </FormField>
                                <FormField Icon="fa-font" Title="UDF 10">
                                    <Content>
                                        <InputText class="input"  Placeholder="UDF10" @bind-Value="Project.UdF10" />
                                    </Content>
                                </FormField>
                            </div>
                        </div>
                    </CardBody>
                </CardComponent>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <FormButton Title="Back" Style="is-danger" Icon="fa-arrow-left" URL="@($"/customer/{Project.CustomerID}")" />
            <FormButton Title="Save" Style="is-success" Icon="fa-save" OnClick="Save_Click" />
        </div>
    </div>
}
else
{
    <OrderTrakLoading />
}