@page "/useradmin/{FormID:guid}"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@inherits OrderTrakBasePage

<PageTitle>User Admin - OrderTrak</PageTitle>

@if (Profile != null)
{
    @if (DeleteUser)
    {
        <ModalPopup Title="Confirm Delete" OnClose="Delete_Toggle" Messages=Layout.Messages>
            <Content>
                <p class="subtitle">Are you sure you want to delete this user?</p>
            </Content>
            <FooterButtons>
                <FormButton Title="No" Style="is-danger" Icon="fa-times" OnClick="Delete_Toggle" />
                <FormButton Title="Yes" Style="is-success" Icon="fa-check" OnClick="DeleteConfirm_Click" />
            </FooterButtons>
        </ModalPopup>
    }

    <div class="box">
        <div class="columns is-centered">
            <div class="column">
                <div class="buttons is-pulled-right">
                    <FormButton Title="Delete" Style="is-danger" Icon="fa-trash" OnClick="Delete_Toggle" />
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-one-third">
                    <CardComponent Title="Profile" Icon="fa-user-circle">
                        <CardBody>
                            <FormField Icon="fa-user" Title="First Name">
                                <Content>
                                    <InputText class="input is-danger"  Placeholder="First Name" @bind-Value="Profile.FirstName" />
                                </Content>
                            </FormField>
                            <FormField Icon="fa-user" Title="Last Name">
                                <Content>
                                    <InputText class="input is-danger"  Placeholder="Last Name" @bind-Value="Profile.LastName" />
                                </Content>
                            </FormField>
                            <FormField Icon="fa-envelope" Title="Email">
                                <Content>
                                    <InputText class="input is-danger"  Placeholder="Email" @bind-Value="Profile.Email" />
                                </Content>
                            </FormField>
                            <hr />
                            <div class="field">
                                <InputCheckbox class="is-checkradio" @bind-Value="Profile.Approved" id="EmptyOnly" />
                                <label for="EmptyOnly">Approved</label>
                            </div>
                        </CardBody>
                    </CardComponent>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <FormButton Title="Back" Style="is-danger" Icon="fa-arrow-left" URL="/useradmin/search" />
            <FormButton Title="Save" Style="is-success" Icon="fa-save" OnClick="Save_Click" />
        </div>
    </div>
}
else
{
    <OrderTrakLoading />
}
