@using OrderTrak.Client.Shared.Nav
@inherits LayoutComponentBase

<CascadingValue Value="this">
    <NavBar />
    <section class="hero is-light is-small">
        <div class="hero-body">
            <p class="title">
                @HeaderMessage
            </p>
            <p class="subtitle">
                @SubTitle
            </p>
        </div>
    </section>

    @if (Messages.Count > 0)
    {
        @foreach (var message in Messages)
        {
            <br />
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="message @message.BulmaLevel">
                        <div class="message-header">
                            <span>@message.HeaderMessage</span>
                            <button class="delete" aria-label="delete" @onclick="() => RemoveMessage(message)"></button>
                        </div>
                        <div class="message-body">
                            <span>@message.Text</span>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <section class="section">
        @Body
    </section>
</CascadingValue>

