@inherits LayoutComponentBase

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <strong>OrderTrak</strong>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <!-- Additional navigation items can be added here if needed -->
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/login">
                <strong>Login</strong>
            </a>
            <a class="navbar-item" href="/register">
                Register
            </a>
        </div>
    </div>
</nav>

@if(string.IsNullOrEmpty(HeaderMessage))
{
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @HeaderMessage
            </h1>
        </div>
    </div>
</section>
}

<section class="section">
    @Body
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });
</script>