@inherits LayoutComponentBase

<CascadingValue Value="this">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <strong>OrderTrak</strong>
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbarData">
            <div class="navbar-start">
                <!-- Additional navigation items can be added here if needed -->
            </div>

            <div class="navbar-end">
                @if (string.IsNullOrEmpty(UserName))
                {
                    <a class="navbar-item" href="/login">
                        <strong>Login</strong>
                    </a>
                    <a class="navbar-item" href="/register">
                        Register
                    </a>
                }
                else
                {  
                    <span class="navbar-item has-dropdown is-hoverable">
                        <span class="navbar-link">
                            @if (DateTime.Now.Hour < 12)
                            {
                                <i class="fas fa-sun"></i>
                            }
                            else if (DateTime.Now.Hour < 18)
                            {
                                <i class="fas fa-cloud-sun"></i>
                            }
                            else
                            {
                                <i class="fas fa-moon"></i>
                            }
                            <strong>Welcome @UserName</strong>
                        </span>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/profile">
                                User Profile
                            </a>
                            <a class="navbar-item" href="/signout">
                                Sign Out
                            </a>
                        </div>
                    </span>
                }
            </div>
        </div>
    </nav>

    <section class="hero is-light is-small">
        <div class="hero-body">
            <p class="title">
                @HeaderMessage
            </p>
            <p class="subtitle">
                @SubTitle
            </p>
        </div>
    </section>

    @if (Messages.Count > 0)
    {
        @foreach (var message in Messages)
        {
            <br />
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="content">
                        <div class="notification @message.BulmaLevel">
                            <div class="columns is-centered">
                                <div class="column">
                                    <strong>@message.Text</strong>
                                </div>
                                <div class="column">
                                    <div class="button is-pulled-right">
                                        <button class="fas fa-trash-alt @message.BulmaLevel" @onclick="() => RemoveMessage(message)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <section class="section">
        @Body
    </section>
</CascadingValue>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });
</script>