<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="./images/navbarimg.png" alt="OrderTrak Logo" />
            <strong>OrderTrak</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbarData">
        <div class="navbar-start">
            @if (Permissions.Count > 0)
            {
                <div class="navbar-item has-dropdown @(IsWarehouseOpen ? "is-active" : string.Empty)">
                    <button class="navbar-link" @onclick="Toggle_Warehouse">
                        <i class="fas fa-warehouse"></i>
                        Warehouse
                    </button>
                    <div class="navbar-dropdown">
                        @if (Permissions.Any(x => x == "Location"))
                        {
                            <NavBarItem Label="Location Manager" Icon="fa-warehouse" URL="/location/search" />
                        }
                        @if (Permissions.Any(x => x == "Parts"))
                        {
                            <NavBarItem Label="Part Manager" Icon="fa-cogs" URL="/part/search" />
                        }
                        @if (Permissions.Any(x => x == "StockGroup"))
                        {
                            <NavBarItem Label="Stock Group Manager" Icon="fa-boxes" URL="/stockgroup/search" />
                        }                       
                    </div>
                </div>
                <div class="navbar-item has-dropdown @(IsSettingOpen ? "is-active" : string.Empty)">
                    <button class="navbar-link" @onclick="Toggle_Setting">
                        <i class="fas fa-tools"></i>
                        Settings
                    </button>
                    <div class="navbar-dropdown">
                        @if (Permissions.Any(x => x == "Customer"))
                        {
                            <NavBarItem Label="Customer Manager" Icon="fa-project-diagram" URL="/customer/search" />
                        }

                        @if (Permissions.Any(x => x == "Role"))
                        {
                            <NavBarItem Label="Role Manager" Icon="fa-user-shield" URL="/role/search" />
                        }

                        @if (Permissions.Any(x => x == "UserManager"))
                        {
                            <NavBarItem Label="User Manager" Icon="fa-users" URL="/useradmin/search" />
                        }
                    </div>
                </div>
            }
        </div>

        <div class="navbar-end">
            @if (string.IsNullOrEmpty(UserName))
            {
                <NavBarItem Label="Login" URL="/login" />
                <NavBarItem Label="Register" URL="/register" />
            }
            else
            {
                <div class="navbar-item has-dropdown @(IsUserOpen ? "is-active" : string.Empty)">
                    <button class="navbar-link" @onclick="Toggle_User">
                        <span class="icon">
                            @if (DateTime.Now.Hour < 12)
                            {
                                <i class="fas fa-sun"></i>
                            }
                            else if (DateTime.Now.Hour < 18)
                            {
                                <i class="fas fa-cloud-sun"></i>
                            }
                            else
                            {
                                <i class="fas fa-moon"></i>
                            }
                        </span>
                        <span>Welcome @UserName</span>
                    </button>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/profile">
                            <i class="fas fa-user"></i>
                            User Profile
                        </a>
                        <a class="navbar-item" href="/signout">
                            <i class="fas fa-sign-out-alt"></i>
                            Sign Out
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</nav>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });
</script>
