@using Blazored.LocalStorage
<a class="navbar-item" @onclick="NavigateTo">
    <span class="icon">
        <i class="fas @Icon"></i>
    </span>
    <span>@Label</span>
</a>

@code {

    [Inject]
    public NavigationManager Navigation { get; set; } = default!;

    [Inject]
    private ILocalStorageService LocalStorageService { get; set; } = default!;

    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string URL { get; set; } = string.Empty;

    protected void NavigateTo()
    {
        if (!string.IsNullOrEmpty(URL))
        {
            LocalStorageService.RemoveItemAsync("search");
            Navigation.NavigateTo(URL);
        }
    }
}
