<a class="navbar-item" @onclick="NavigateTo">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <span class="icon">
            <i class="fas @Icon"></i>
        </span>
    }
    <span>@Label</span>
</a>


