@page "/"
@using OrderTrak.Client.Shared
@using OrderTrak.Client.Shared.FormComponents
@inherits OrderTrakBasePage

<PageTitle>OrderTrak</PageTitle>

<div class="columns is-centered">
    <div class="column is-half">
        <CardComponent Title="Welcome to OrderTrak">
            <CardBody>
                OrderTrak is your comprehensive solution for managing orders and tracking projects efficiently.
                Use the navigation bar to access different sections of the application.
                If you have any questions, feel free to reach out to our support team.
            </CardBody>
            <Footer>
                <a href="/login" class="card-footer-item">Login</a>
                <a href="/register" class="card-footer-item">Register</a>
            </Footer>
        </CardComponent>
    </div>
</div>


